#top{
    background-color: teal;
}

.Sunday{
    background-color: yellow;
}

.Monday {
    background-color: lightblue;
}

.Tuesday {
    background-color: blue;
}
.Wednesday {
    background-color: orangered;
}
.Thursday {
    background-color: gray;
}

.Friday {
    background-color: red;
}
.Saturday {
    background-color: green;
}
.menu-image{
    width: 100%;
}